//COLORS
$white: #FFFFFF;
$dark: #18181B;
$light-grey: #E4E4E4;
$orange-brand: #F0380F;
$orange-brand-hover: #F35F3E;

//TYPOGRAPHY
$light-font: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
$regular-font: 'Helvetica Neue Regular', Helvetica, Arial, sans-serif;
$medium-font: 'Helvetica Neue Medium', Helvetica, Arial, sans-serif;
$bold-font: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
$extra-bold-font: 'Helvetica Neue Extra Bold', Helvetica, Arial, sans-serif;
