.intro {
    padding: 50px 36px 80px 36px;
    max-width: 813px;

    @include md {
        padding: 90px 36px 80px 36px;
    }

    &__cta {
        margin-top: 40px;

        @include md {
            margin-top: 40px;
        }
    }

}

